@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-primary: #4886B5;
  --color-light-accent: #FFB347;
  --color-light-surface: #F7F7F7;
  --color-light-background: #FFF;
  --color-light-text: #1A1A1A;

  --color-dark-primary: #82C3F0;
  --color-dark-accent: #FFD08A;
  --color-dark-surface: #141414;
  --color-dark-background: #1E1E1E;
  --color-dark-text: #E5E5E5;
}